/* you can change any of the default styles below */

* {
background-color: #98dfea;
font-family: Montserrat;
}

nav {
  height: 15px;
  position: sticky;
  position:-webkit-sticky;
  font-family: Quicksand;
  color: #25283d
}

div{
  border-style: ridge;
  border-color: #fffff2;
  position: relative;
  left: 400px;
  bottom: 400px;
  height: 400px;
}

a {
  text-decoration: none;
}

a:link {
  color:#07beb8;
}

a:visited {
  color: #8f3985;
}

a:hover {
  color: #25283d;
}




p {
  color: #2A2B2A;
  font-size: 1.8rem;
}

img {
  max-width: 400px;
}
